export NEXT_JS_FORTMATIC_API_KEY=<key>
export NEXT_JS_FORTMATIC_PRODUCTION_API_KEY=<key>
# export NEXT_JS_FORTMATIC_CUSTOM_NODE_URL=<url>
# export NEXT_JS_FORTMATIC_CUSTOM_NODE_CHAIN_ID=<chainid>
export NEXT_JS_FORTMATIC_NETWORK_NAME=kovan

export NEXT_JS_LOCALHOST_NETWORK_ID=1234

export NEXT_JS_DAI_ADDRESS_LOCALHOST=0xab
export NEXT_JS_POD_ADDRESS_LOCALHOST=0x2D
export NEXT_JS_POOL_DAI_ADDRESS_LOCALHOST=0x2D
export NEXT_JS_POOL_DAI_TOKEN_ADDRESS_LOCALHOST=0x12

export NEXT_JS_DAI_ADDRESS_KOVAN=0x4f96fe3b7a6cf9725f59d353f723c1bdb64ca6aa
export NEXT_JS_POD_ADDRESS_KOVAN=0xfE6892654CBB05eB73d28DCc1Ff938f59666Fe9f
export NEXT_JS_POOL_DAI_ADDRESS_KOVAN=0xC3a62C8Af55c59642071bC171Ebd05Eb2479B663
export NEXT_JS_POOL_DAI_TOKEN_ADDRESS_KOVAN=0x1237a9f1664895bc30cfe9eCD1e3f6C2A83700AD

export NEXT_JS_DAI_ADDRESS_MAINNET=0x6b175474e89094c44da98b954eedeac495271d0f
export NEXT_JS_POD_ADDRESS_MAINNET=<address>
export NEXT_JS_POOL_DAI_ADDRESS_MAINNET=0x29fe7D60DdF151E5b52e5FAB4f1325da6b2bD958
export NEXT_JS_POOL_DAI_TOKEN_ADDRESS_MAINNET=0x49d716DFe60b37379010A75329ae09428f17118d
