export NEXT_JS_FORTMATIC_API_KEY=<key>
# export NEXT_JS_FORTMATIC_CUSTOM_NODE_URL=<url>
# export NEXT_JS_FORTMATIC_CUSTOM_NODE_CHAIN_ID=<chainid>
export NEXT_JS_FORTMATIC_NETWORK_NAME=kovan
export NEXT_JS_LOCALHOST_NETWORK_ID=1234
export NEXT_JS_POD_ADDRESS_LOCALHOST=0x2D385199C542E5bBC6da77431Ab3E88f18A23Bce
export NEXT_JS_POD_ADDRESS_KOVAN=0xfE6892654CBB05eB73d28DCc1Ff938f59666Fe9f