export NEXT_JS_FORTMATIC_API_KEY=<key>
# export NEXT_JS_FORTMATIC_CUSTOM_NODE_URL=<url>
# export NEXT_JS_FORTMATIC_CUSTOM_NODE_CHAIN_ID=<chainid>
export NEXT_JS_FORTMATIC_NETWORK_NAME=kovan

export NEXT_JS_LOCALHOST_NETWORK_ID=1234

export NEXT_JS_DAI_ADDRESS_LOCALHOST=0xab
export NEXT_JS_POD_ADDRESS_LOCALHOST=0x2D
export NEXT_JS_POOL_DAI_ADDRESS_LOCALHOST=0x2D
export NEXT_JS_POOL_DAI_TOKEN_ADDRESS_LOCALHOST=0x12

export NEXT_JS_DAI_ADDRESS_KOVAN=0x4f96fe3b7a6cf9725f59d353f723c1bdb64ca6aa
export NEXT_JS_POD_ADDRESS_KOVAN=0xfE6892654CBB05eB73d28DCc1Ff938f59666Fe9f
export NEXT_JS_POOL_DAI_ADDRESS_KOVAN=0xC3a62C8Af55c59642071bC171Ebd05Eb2479B663
export NEXT_JS_POOL_DAI_TOKEN_ADDRESS_KOVAN=0x1237a9f1664895bc30cfe9eCD1e3f6C2A83700AD
