span {
  --inactive: #9bc9eb;
  --active: #98eeb3;
  --speed: 1.2s;
  --size: 30px;
  --unit: 10px;
}

@keyframes spinner {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.spinner-hidden .loading-indicator {
  display: none;
}

.spinner-small .loading-indicator {
  transform: scale3d(0.5, 0.5, 0.5);
}

.loading-indicator {
  height: 100%;
  padding-bottom: 5rem;
  padding-top: 5rem;
  width: 100%;
}













.spinner {
  margin: 0 auto;
  width: 170px;
  text-align: center;
}

.spinner > div {
  width: 14px;
  height: 14px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  animation: bounceLoad 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes bounceLoad {
  0%, 80%, 100% { 
    transform: scale3d(0, 0, 0);
  } 40% { 
    transform: scale3d(0.5, 0.5, 0.5);
  }
}

@screen sm {
  @keyframes bounceLoad {
    0%, 80%, 100% { 
      transform: scale3d(0, 0, 0);
    } 40% { 
      transform: scale3d(1, 1, 1);
    }
  }
}