html, body, table {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 0;
}

::placeholder,
.input::placeholder,
.textarea::placeholder {
  color: rgb(235, 203, 253);
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
  background-color: white !important;
}

::selection {
  background-color: rgb(76, 185, 249);
  color: white;
}

html {
  overflow-x: hidden;
}

body {
  @apply font-sans-regular;
  background-color: #160730;
  background-image: url(/pool-together--app-background.png);
  overflow-x: hidden;
}

hr {
  border: 0;
  height: 0;
  border-top: 3px solid rgba(120, 70, 220, 0.1);
  border-bottom: none;
  background: transparent;
  margin: 20px auto;
  width: 90%;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

a {
  @apply text-purple-400 underline;
}

a:hover {
  @apply text-cyan-400;
}

a[disabled],
a[disabled]:hover {
  @apply text-blue-800;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0.5rem 0;
}

p {
  @apply tracking-wider;
}

form:after {
  content: "";
  display: table;
  clear: both;
}

.light {
  @apply text-gray-500;
}

button[disabled] {
  @apply opacity-30 cursor-not-allowed !important;
}

input:not([type='submit'])[disabled],
textarea[disabled] {
  @apply border-transparent bg-purple-1100 text-purple-400 opacity-50 cursor-not-allowed !important;
} 

input[type='submit'][disabled] {
  @apply border-transparent bg-purple-200 text-white cursor-not-allowed;
}

input:not([type='submit'])[readOnly] {
  @apply text-lightPurple-600 cursor-not-allowed !important;
} 

input[type='submit'][disabled] {
  @apply border-transparent bg-purple-200 text-white cursor-not-allowed;
}

.main-nav {
  pointer-events: none;
}

.main-nav a,
.main-nav button,
.main-nav span {
  pointer-events: initial;
}

.nav-title {
  padding-top: 2px;
}

@screen sm {
  .animate-height-0 {
    height: 0;
    overflow: hidden;
  }

  .animate-height-40 {
    height: 40px;
    overflow: hidden;
  }
}

.max-width-1\/2 {
  max-width: 50%;
}

.wrap-everything {
  @apply whitespace-pre-line break-all;
}

.is-etherscan-arrow {
  height: 1em;
  position: relative;
  top: -1px;
  width: 1em;
}

input[type="text"] {
  caret-color: !important white;
}

.stats-box {
  background-color: rgba(90, 70, 150, 0.8);
}

.stats-box:hover {
  background-color: rgba(90, 70, 150, 1);
}

.odometer {
  margin-top: -0.6em;
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-minimal.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-minimal.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  transition: transform 2000ms;
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-minimal {
  display: inline-block;
}

.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-minimal .odometer-digit {
  display: inline-block;
}

.odometer-ribbon-inner,
.odometer-value .odometer-last-value,
.odometer-value .odometer-last-value,
.odometer-value {
  text-align: center;
  width: 100%;
}

.confettiCanvas {
  bottom: 0;
  pointer-events: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 4000ms;
}

.confettiCanvas.active {
  opacity: 1;
}

.fullscreen-message {
  background-position: center !important;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.fullscreen-message.purple {
  background-color: #3c1066;
}

.flippable-container {
  margin-top: 0;
  margin-bottom: 6px;
  height: 40px;
  position: relative;
  width: 100%;
}

@screen sm {
  .flippable-container {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 70px;
    width: 260px;
  }
}

@screen lg {
  .flippable-container {
    height: 90px;
    width: 300px;
  }
}

.button.flippable {
  transition-duration: 400ms;
}

.flippable {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: rotateX(0);
  transform-style: preserve-3d;
  z-index: 5;
  width: 100%;
}

.flippable-in-front.flipped {
  transform: rotateX(180deg);
}

.flippable-behind {
  transform: rotateX(180deg);
  z-index: 4;
}

.flippable-behind.flipped {
  transform: rotateX(360deg); 
} 

.what-is-this {
  transform: rotateZ(90deg);
  transform-origin: 0 0;
}

.bg-brand {
  background-color: #7E4BF1;
}

.bg-brand--light,
.hover\:bg-brand--light:hover,
.active\:bg-brand--light:active,
.focus\:bg-brand--light:focus {
  background-color: #A76BFF;
}

.bg-brand--dark {
  background-color: #470BC1;
}

.border-brand--light {
  border-color: #A76BFF;
}

.pill-nav {
  position: absolute;
  right: -10px;
  bottom: 10px;
  transform: scale(0.7);
}

@screen sm {
  .pill-nav {
    bottom: 40px;
    right: 30px;
    transform: scale(1);
  }
}

/* Override for react-hint / PoolHint */
.react-hint--top:after {
  border-top-color: white;
}

[anim="ripple"] {
  position: relative;
  overflow: hidden;
}

[anim="ripple"]:before {
  content: '';
  position:absolute;
  display: block;
  background: var(--ripple-background, white);      
  border-radius: 50%;
  pointer-events: none; 

  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  width:  calc(var(--d) * 1px);
  height: calc(var(--d) * 1px);
  mix-blend-mode: screen;

  opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));                
  transition: calc(var(--t, 0) * var(--ripple-duration, 300ms)) var(--ripple-easing, ease-in);   
  transform: translate(-50%, -50%) scale(var(--s, 1));
  transform-origin: center;
}

.radial-gradient {
  background: #310957;
  background: radial-gradient(
     at center,
     #41157b,
     #310957
  );
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.past-winner-container {
  /* height: 100vw; */
}

@screen sm {
  .past-winner-container {
    height: 700px;
  }
}

@screen lg {
  .past-winner-container {
    height: 900px;
  }
}

.font-features-off {
  font-feature-settings: initial;
}

.video-wrapper {
  padding-bottom: 56.25%; /* 16:9 */
}

.offcanvas-menu-button {
  padding-left: 0.22rem;
  padding-right: 0.22rem;
}

@screen sm {
  .offcanvas-menu-button {
    padding-left: 0.35rem;
    padding-right: 0.35rem;
  }
}

.orange-reveal-badge {
  left: -17px;
  padding-top: 4px;
  top: -4px;
}

@screen sm {
  .orange-reveal-badge {
    left: -2px;
    padding-top: 1px;
    top: -1px;
  }
}

.pink-gradient {
  background: #9E36A1;
  background: 
    linear-gradient( 0deg, #9E36A1 0%, #C841F0 100%) repeat
  ;
}

.lightpink-gradient {
  background: #FDD8F5;
  /* background: 
    linear-gradient( 180deg, #FDD8F5 0%, #FDBFF3 100%) repeat
  ; */
}

.thermometer-empty {
  background: rgb(240, 240, 240);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
}

.thermometer-liquid {
  background: rgb(192, 12, 153);
  border-radius: 20px !important;
  background-image: linear-gradient(0,
    rgb(192, 12, 153)  0%,
    rgb(192, 12, 153) 50%,
    rgb(220, 20, 200) 100%
  );
  z-index: 101;
}

/* empty area border */
.thermometer-bar:after {
  background: white;
  border-radius: 30px;
  content: '';
  z-index: -1;
  position: absolute;
  top: -6px;
  left: -6px;
  margin: 0;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
}

/* bulb white border */
.thermometer-bulb:after {
  background: #fff;
  border-radius: 30px;
  content: '';
  z-index: 98;
  position: absolute;
  bottom: -8px;
  left: -12px;
  margin: 0;
  width: 36px;
  height: 36px;
}

/* bulb colour */
.thermometer-bulb:before {
  background: rgb(192, 12, 153);
  border-radius: 30px;
  content: '';
  z-index: 99;
  position: absolute;
  bottom: 0;
  left: -4px;
  margin: 0;
  width: 20px;
  height: 20px;

}

@screen sm {
  /* empty area border */
  .thermometer-bar:after {
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
  }

  /* bulb white border */
  .thermometer-bulb:after {
    border-radius: 30px;
    bottom: -10px;
    left: -20px;
    width: 56px;
    height: 56px;
  }

  /* bulb colour */
  .thermometer-bulb:before {
    border-radius: 30px;
    left: -10px;
    width: 36px;
    height: 36px;
  }
}

.prize-glow {
  display: inline-block;
  width: 100%;
  height: 100%;
  /* background-color: #fff; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.prize-glow::after {
  border-radius: 30px;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 1);
  opacity: 1;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.prize-glow::after {
  animation: pulseBoxShadow 10000ms infinite forwards cubic-bezier(0.5, 1.10, 0.36, 1.02);
}

@keyframes pulseBoxShadow {
  0% {
    box-shadow: 0 1px 25px rgba(228, 194, 235, 0.5);
  }
  50% {
    box-shadow: 0 2px 15px rgba(225, 255, 255, 0.35);
  }
  100% {
    box-shadow: 0 1px 25px rgba(228, 195, 220, 0.5);
  }
}

.neuo-purple {
  /* border-radius: 50px; */
  /* background: #160730; */
  background: linear-gradient(145deg, rgba(26, 9, 56, 0.4), rgba(17, 5, 39, 0.4));
  box-shadow:   24px  24px 48px rgba(9, 3, 19, 0.8), 
              -24px -24px 48px rgba(35, 11, 77, 0.7);
}

.neuo-pink {
  background: linear-gradient(145deg, #fa659a, #d35582);
  box-shadow:   6px  6px 12px rgba(9, 3, 19, 0.8), 
              -6px -6px 12px rgba(35, 11, 77, 0.7);
}

.neuo-pink:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab );
	background-size: 400% 400%;
  animation: gradientBG 2s ease infinite;
}


@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}