/* .tab-button-menu {
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  opacity: 1;
  pointer-events: initial;
  transition: all 450ms cubic-bezier(0.75, -0.1, 0, 1.25);
  will-change: transform;
} */

.tab-button,
.tab-button:hover {
  border: 2px solid transparent;
}

.tab-button {
  background-color: #501b97;
}

.tab-button.tab-button--active {
  background-color: #310957;
}

.tab-button.tab-button--active:hover {
  background-color: #41157b;
}